*{
  margin: 0;
}
body{
  background-color: rgba(215, 230, 238, 0.83);
}
.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}
.app__left{
  flex: 0.9;
}
.App{
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}
.graph{
  height: 250px;
}
@media (max-width: 990px) {
  .App{
    flex-direction: column;
  }
}