.infoBox{
    flex: 1;
    cursor: pointer;
}
.infoBox:not(:last-child){
    margin-right: 10px;
}
.infoBox__cases{
    color: red;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infobox--selected{
    border-top: 15px solid green;
}
.infobox--red{
    border-color: red;
}
.infobox--cases--green{
    color: green;
}